@charset "utf-8";

li.XEModuleInstagramSkinAlbumListItem {display: inline-block; float: left; width: 33.33%;}
	li.XEModuleInstagramSkinAlbumListItem > div.XEModuleInstagramSkinAlbumListItemContainer {padding: 1em;}
		div.XEModuleInstagramSkinAlbumListItemContainer > img, div.XEModuleInstagramSkinAlbumListItemContainer > video {width: 100%;}